<template name="register">

    <div class="fullscreen-bg">
		<video autoplay loop poster="/bucket_video.png" id="bgvid">
			<source src="/bucket_video.webm" type="video/webm">
			<source src="/bucket_video.mp4" type="video/mp4">
		</video>
	</div>

	<div class="jumbotron login-jumbotron">

		<div class="login-form">
			<form class="register text-center">
				<div class="dark-gray">Register to MyBucket</div>

				<div class="login-form-item"><span class="dark-gray">Username</span><input type="text" class="form-control" name="username" required></div>

				<div class="login-form-item"><span class="dark-gray">Email</span><input type="text" class="form-control" name="email" required></div>

				<div class="login-form-item"><span class="dark-gray">Password</span><input type="password" class="form-control" name="password" required></div>

				<div class="login-form-item" id="tryAgain"></div>

				<div class="btn-profile-submit">
					<input type="submit" value="Register" class="btn btn-success btn-profile-submit"/>
				</div>

				<div>
					<a class="no-account" href="{{pathFor 'login'}}">Already have an account? Sign in!</a>
				</div>

			</form>

		</div>
	</div>

</template>