<template name="mybucket">
		<div class="jumbotron mybucket">
			<div class="container">
				<div class="row">
					<div class="col-lg-9 main">
						<nav>
							<ul class="pager">
								<li id="active-page"><a href="{{pathFor 'wishPage'}}">My Bucket</a></li>
								<li><a href="{{pathFor 'underConstruction'}}">Community</a></li>
								<li><a href="{{pathFor 'explore'}}">Explore</a></li>
							</ul>
						</nav>
						<h1 class="green">Your Bucket List</h1>
						<ul class="bucketlist">
							<li>Go to a concert</li>
							<li>Visit Paris</li>
							<li>Go skydiving</li>
						</ul>
					</div>
					<div class="col-lg-3 sidebar">
						<ul class="sidebar-list">
							<li class="yourbucket"><a href="{{pathFor 'wishPage'}}">YOUR BUCKET</a></li>
							<li class="sidebar-item"><a href="{{pathFor 'underConstruction'}}">Not Started</a></li>
							<li class="sidebar-item"><a href="{{pathFor 'underConstruction'}}">In Progress</a></li>
							<li class="sidebar-item"><a href="{{pathFor 'underConstruction'}}">Completed</a></li>
							<li class="sidebar-item"><a href="{{pathFor 'underConstruction'}}">Opportunities</a></li>
						</ul>
					</div>
				</div>
			</div>

		</div>

</template>